html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* layout */
body {
  background-color:#f6f4f1;
}
#wrap {
  
}

header {
  height:176px;
  padding-top:51px;
}
header h1 {
  text-align:center;
}
header h1 img {
  width:39px;
}

#container .box img{
  width: 100%;
  padding: 0;
}

#container .text-1 {
  padding-top: 40px;
  padding-right: 10px;
  padding-bottom:80px;
  color: #3d3d3d;
  font-size: 2.1875rem;
  font-weight: 300;
  line-height: 1.56;
  text-align: center;
}

#container2 .box-list {
  display: flex;

}

#container2 img {
  width: 100%;
}

#container2 .box-list li {
  width: 33.33%;
  padding: 10px;
}
#container2 .text-con .title-1 {
  font-size: 22px;
  padding: 45px 30px 26px 30px;
}
#container2 p {
  font-size: 14px;
  line-height: 17pt;
  padding: 0 30px 26px 30px;
}


/* footer */
footer {
  margin-top:50px;
  background-color: #f1efeb;
}
footer .foot-list {
  display:flex;
}
footer .foot-list li {
  width:20%;
  padding:10px;
}
footer .foot-list li:first-child {
  flex:1;
}
footer .tit {
  margin-bottom:30px;
  color:#333;
  font-size:15px;
}

/* tablet */
@media screen and (min-width: 768px) and (max-width:1199px) {
  
}

/* mobile */
@media screen and (max-width: 767px) {
  
}
