html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  text-decoration: none;
  color: #333;
  word-break: keep-all;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

/* main */
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* layout */
body {
  background-color:#f6f4f1;
  overflow-x: hidden;
}
#wrap {
  
}

header {
  height:176px;
  padding-top:51px;
}
header h1 {
  text-align:center;
}
header h1 img {
  width:39px;
}

header .menu {
  display: block;
  position: absolute;
  top: 50px;
  left: 20px;
  width: 30px;
  height: 30px;
}

header .menu span {
  position: relative;
  display: block;
  width: 100%;
  height: 3px;
  background-color: #333;
}

header .menu span:before,
header .menu span:after {
  content: '';
  position: absolute;
  top: 8px;
  left: 0;
  display: block;
  width: 100%;
  height: 3px;
  background-color: #333;
}

header .menu span:after {
  top: 16px;
 }

#container .box img{
  width: 100%;
  padding: 0;
}

#container .text-1 {
  padding-top: 70px;
  padding-right: 10px;
  padding-bottom:70px;
  color: #3d3d3d;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.56;
  letter-spacing: 5px;
  text-align: center;
}

#container2 .box-list {
  display: flex;
}

#container2 img {
  width: 100%;
}

#container2 .box-list {
  margin: 60px -11px 50px;}

#container2 .box-list li {
  width: 33.33%;
  padding: 10px;
}
#container2 .text-con .title-1 {
  font-size: 22px;
  line-height: 22pt;
  padding: 45px 30px 20px 51px;
}
#container2 p {
  font-size: 14px;
  line-height: 17pt;
  padding: 0 30px 26px 51px;
}

#container3 .box {
  border-top: solid 1px; 
  border-color: #e0e0e0;
}

#container3 .box-list {
  display: flex;
}

#container3 .box-list li {
  width: 50%;
}

#container3 .text-con .title-2 {
  font-size: 23px;
  font-weight: 500;
  padding: 60px 30px 80px 51px;
}

#container3 .text-con .title-3 {
  text-align: right;
  padding: 60px 150px 80px 51px;
}

button {
  width: 220px;
  height: 54px;
  color: ##333;
  font-size: 17px;
  font-weight: 500;
  text-align: center;
  position:relative;
  background-color:transparent;
  border: solid #333 1px;

}

#container3 p {
  font-size: 1.4375rem;
  font-weight: 300;
  line-height: 1.71;
  padding: 0 30px 26px 51px;
}

/* footer */
footer {
  margin-top:50px;
  background-color: #f1efeb;
}
footer .foot-list {
  display:flex;
}
footer .foot-list li {
  width:21%;
  padding:10px;
  border-right: solid 1px #e0e0e0;
}
footer .foot-list li:first-child {
  flex:1;
}

footer .foot-list li:last-child {
  border-right: none;
}
footer .tit {
  margin: 40px 50px 30px 40px;
  color:#333;
  font-size:16px;
}
footer p {
  color:#333;
  font-size:14px;
  line-height: 18pt;
  margin: 0 50px 80px 40px;
}
footer .sns p {
   margin-bottom: 20px;
   font-size:20px;
   line-height: 1.5;
}

/* tablet */
@media screen and (min-width: 768px) and (max-width:1199px) {

#container .box img{
  width: 100%;
  padding: 0;
}

#container .text-1 {
  padding-top: 50px;
  padding-right: 10px;
  padding-bottom:0;
  color: #3d3d3d;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.56;
  letter-spacing: 5px;
  text-align: center;
}

#container2 .box-list {
  flex-wrap:wrap;
}

#container2 img {
  width: 100%;
}

#container2 .box-list {
  margin: 60px -11px 50px;}

#container2 .box-list li {
  width: 50%;
  padding: 10px;
}
#container2 .text-con .title-1 {
  font-size: 22px;
  line-height: 22pt;
  padding: 45px 30px 20px 51px;
}
#container2 p {
  font-size: 14px;
  line-height: 17pt;
  padding: 0 30px 26px 51px;
}

#container3 .box {
  border-top: solid 1px; 
  border-color: #e0e0e0;
}

#container3 .box-list {
  display: flex;
}

#container3 .box-list li {
  width: 50%;
}

#container3 .text-con .title-2 {
  font-size: 18px;
  font-weight: 500;
  padding: 40px 30px 50px 51px;
}

#container3 .text-con .title-3 {
  text-align: right;
  padding: 40px 150px 50px 51px;
}

#container3 p {
  font-size: 1.4375rem;
  font-weight: 300;
  line-height: 1.71;
  padding: 0 30px 26px 51px;
}

/* footer */
footer {
  margin-top:30px;
  background-color: #f1efeb;
}
footer .foot-list {
  display:flex;
}
footer .foot-list li {
  width:21%;
  padding:10px;
  border-right: solid 1px #e0e0e0;
}
footer .foot-list li:first-child {
  flex:1;
}

footer .foot-list li:last-child {
  border-right: none;
}
footer .tit {
  margin: 40px 50px 30px 40px;
  color:#333;
  font-size:16px;
}
footer p {
  color:#333;
  font-size:11px;
  line-height: 18pt;
  margin: 0 50px 80px 40px;
}
footer .sns p {
   margin-bottom: 20px;
   font-size:20px;
   line-height: 1.5;
}  
}

/* mobile */
@media screen and (max-width: 767px) {
  #container .box img{
    width: 100%;
    padding: 0;
  }
  
  #container .text-1 {
    padding-top: 30px;
    padding-right: 10px;
    padding-bottom:0;
    color: #3d3d3d;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.56;
    letter-spacing: 5px;
    text-align: center;
  }
  
  #container2 .box-list {
    flex-wrap:wrap;
  }
  
  #container2 img {
    width: 100%;
  }
  
  #container2 .box-list {
    margin: 60px -11px 50px;}
  
  #container2 .box-list li {
    width: 100%;
    padding: 10px;
  }
  #container2 .text-con .title-1 {
    font-size: 22px;
    line-height: 22pt;
    padding: 45px 30px 20px 51px;
  }
  #container2 p {
    font-size: 14px;
    line-height: 17pt;
    padding: 0 30px 26px 51px;
  }
  
  #container3 .box {
    border-top: solid 1px; 
    border-color: #e0e0e0;
  }
  
  #container3 .box-list {
    flex-wrap:wrap;
  }
  
  #container3 .box-list li {
    width: 100%;
  }
  
  #container3 .text-con .title-2 {
    font-size: 18px;
    font-weight: 500;
    padding: 40px 30px 50px 51px;
  }
  
  #container3 .text-con .title-3 {
    text-align: right;
    padding: 40px 150px 50px 51px;
  }
  
  #container3 p {
    font-size: 1.4375rem;
    font-weight: 300;
    line-height: 1.71;
    padding: 0 30px 26px 51px;
  }
  
  /* footer */
  footer {
    margin-top:30px;
    background-color: #f1efeb;
  }
  footer .foot-list {
    display:flex;
  }
  footer .foot-list li {
    width:100%;
    padding:10px;
    border-right: solid 1px #e0e0e0;
  }
  footer .tit {
    margin: 40px 50px 30px 40px;
    color:#333;
    font-size:13px;
  }
  footer p {
    color:#333;
    font-size:11px;
    line-height: 18pt;
    margin: 0 50px 80px 40px;
  }
  footer .sns p {
     margin-bottom: 20px;
     font-size:20px;
     line-height: 1.5;
  }  
}